@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
@import "responsive";

body {
  font-family: "Poppins", sans-serif !important;
  overflow-y: auto;
  overflow-x: hidden;
  width: auto;
  height: auto;
}

.main {
  position: unset;
  top: unset;
  left: unset;
  transform: translate(0%, 0%);
  .content {
    width: 70%;
    @include sm {
      width: 100%;
    }
    h1 {
      color: #fff;
      font-size: 4rem;
      @include sm {
        font-size: 2.3rem;
        padding-left: 20px;
      }
    }
    .content-sub {
      margin-top: 2.5rem;
      display: inline-flex;
      @include sm {
        display: block;
        padding-left: 20px;
        padding-right: 50px;
      }
      .info {
        color: #fff;
        margin: 0;
        line-height: 1.8;
        padding-left: 25px;
        border-left: 2px solid #02ffff;
        @include sm {
          font-size: 0.8rem;
          margin-top: 2.5rem;
        }
      }
    }
  }
}
.navbar {
  #overlay-button {
    @include md {
      display: block;
    }
    cursor: pointer;
    display: none;
    span {
      height: 4px;
      width: 35px;
      border-radius: 2px;
      background-color: white;
      position: relative;
      display: block;
      transition: all 0.2s ease-in-out;
      &:before {
        top: -10px;
        visibility: visible;
      }
      &:after {
        top: 10px;
      }
      &:before,
      &:after {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: white;
        position: absolute;
        content: "";
        transition: all 0.2s ease-in-out;
      }
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ #overlay-button {
    &:hover span,
    span {
      background: transparent;
    }
    span {
      &:before {
        transform: rotate(45deg) translate(7px, 7px);
        opacity: 1;
      }
      &:after {
        transform: rotate(-45deg) translate(7px, -7px);
      }
    }
  }
}

// Contact
.contact {
  background: linear-gradient(
      270deg,
      rgba(0, 113, 186, 0) 0.67%,
      rgba(27, 20, 82, 0.87) 67.38%
    ),
    radial-gradient(
      37056.5% 37056.5% at 131499.99% 38156.5%,
      #000045 0%,
      rgba(27, 20, 82, 0.34) 100%
    ),
    url("/images/contact_background.jpg") !important;
  background-size: cover !important;
}
.contact-area {
  text-align: center;
  .map {
    .map-overlay {
      background: linear-gradient(
        180deg,
        rgba(196, 196, 196, 0) 3.66%,
        rgba(36, 36, 36, 0.4) 100%
      );
      width: 100%;
      position: absolute;
      height: 450px;
    }
    iframe {
      width: 100%;
      height: 450px;
    }
  }
  .form_wrapper {
    padding: 50px 50px 30px 50px;
    background-color: #f0f0f0;
    margin-top: -150px;
    @include lg {
      padding: 50px 50px 30px 50px;
    }
    @include sm {
      padding: 10px 10px 5px 10px;
    }
    .row {
      margin: 10px -15px;
      > div {
        padding: 0 15px;
        box-sizing: border-box;
      }
    }
    .col_half {
      width: 50%;
      float: left;
    }
    .input_field,
    .textarea_field {
      width: 100%;
      position: relative;
    }
    input,
    textarea {
      width: 100%;
      padding: 10px 10px 10px 25px;
      border: none;
      background: #fefefe;
      box-sizing: border-box;
      outline: none;
      transition: all 0.3s ease-in-out;
      @include sm {
        margin-top: 10px;
      }
    }
    textarea {
      height: 8em;
    }
    input[type="submit"] {
      background: linear-gradient(12.02deg, #00b4ef 31.21%, #1b3e6e 140.49%);
      line-height: 50px;
      width: 40%;
      text-align: center;
      border: none;
      outline: none;
      cursor: pointer;
      color: #fff;
      font-size: 1.2em;
      padding: 5px;
      margin-left: auto;
      margin-right: auto;
      @include sm {
        line-height: 35px;
        font-size: 1rem;
      }
    }
  }
}
// Dev Page
.dev-cycle {
  background: linear-gradient(
      270deg,
      rgba(0, 113, 186, 0) 0.67%,
      rgba(27, 20, 82, 0.87) 67.38%
    ),
    radial-gradient(
      37056.5% 37056.5% at 131499.99% 38156.5%,
      #000045 0%,
      rgba(27, 20, 82, 0.34) 100%
    ),
    url("/images/dev_bg.jpg") !important;
  background-size: cover !important;
}

.dev-image {
  margin-top: 80px;
  margin-bottom: 80px;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.dev-image-desktop {
  display: block;
  @media (max-width: 640px) and (min-width: 320px) {
    display: none;
  }
}

.dev-image-mobile {
  display: none;
  @media (max-width: 640px) and (min-width: 320px) {
    display: block;
    width: 50%;
  }
}

.tech-stack {
  background-color: #f0f0f0;
  .col-3 {
    &:nth-last-child(3),
    &:nth-last-child(2),
    &:nth-last-child(1) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    max-width: 100%;
    max-height: 60px;
  }
}

// Projects Page
.projects-clients {
  background: linear-gradient(
      270deg,
      rgba(0, 113, 186, 0) 0.67%,
      rgba(27, 20, 82, 0.87) 67.38%
    ),
    radial-gradient(
      37056.5% 37056.5% at 131499.99% 38156.5%,
      #000045 0%,
      rgba(27, 20, 82, 0.34) 100%
    ),
    url("/images/dev_bg.jpg") !important;
  background-size: cover !important;
}
.feature {
  margin-top: 120px;
  .para {
    color: #fff;
    margin: 0;
    line-height: 1.8;
    padding-left: 15px;
    @include sm {
      font-size: 0.8rem;
      margin-top: 2.5rem;
    }
  }
  .img-team {
    width: 100%;
    height: auto;
  }
}

.team-heading {
  color: #fff;
  -top: 70px;
}

.projects {
  .img-app {
    height: 400px;
    max-width: 100%;
    padding-bottom: 50px;
  }
  .img-web {
    width: 100%;
    height: auto;
  }
  .img-web-sw {
    width: 100%;
    height: auto;
  }
  img {
    transition: all 500ms ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  .left {
    float: right;
    @include lg {
      float: none;
    }
  }
  div {
    @include lg {
      text-align: center;
    }
  }
}

.mt-5-lg {
  @include lg {
    margin-top: 3rem !important;
  }
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  /*whatever width you want*/
}

// Gallery
.my-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  figure {
    margin: 0;
    img {
      height: 200px;
      padding: 5px;
    }
  }
}

footer {
  background-color: #0c1439;
  color: #ffff;
  .footer-items {
    margin-top: 50px;
    margin-bottom: 20px;
    .footer-brand {
      img {
        width: 220px;
      }
    }
    .address {
      font-size: 0.9rem;
    }
    a {
      text-decoration: none;
      margin-bottom: 5px;
      color: #ffff;
    }
    h2 {
      font-size: 1.5rem;
    }
    .footer-link {
      padding: 0;
      list-style: none;
      li {
        padding: 5px 0;
      }
    }
    input {
      background: #fefefe;
      border: none;
      padding: 10px 10px 10px 25px;
      @include sm {
        width: 90%;
      }
    }
    input[type="submit"] {
      background: linear-gradient(12.02deg, #00b4ef 31.21%, #1b3e6e 140.49%);
      padding: 10px 20px;
      color: #ffff;
      cursor: pointer;
      @include sm {
        margin-top: 10px;
      }
    }
    .social-links {
      list-style: none;
      padding: 0;
      text-align: center;
      li {
        display: inline;
        padding: 0 1.2rem;
        font-size: 1.3rem;
      }
    }
    @include sm {
      text-align: center;
    }
  }
}
.contact-aside {
  @include sm {
    display: none;
  }
}
// Aside
.aside {
  width: 81px;
  right: 0;
  top: 0;
  height: 100%;
  position: fixed;
  background: rgba(0, 113, 186, 0.4);
  @include sm {
    background: none;
  }
  .social-links {
    padding-left: 30px;
    padding-right: 30px;
    list-style: none;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    @include sm {
      bottom: 0;
      transform: none;
      top: 100%;
      transform: translateY(-120%);
    }
    li {
      margin-bottom: 25px;
      a {
        cursor: pointer;
        color: #fff;
        font-size: 1.5rem;
        &:hover {
          color: #e9e9e9;
          transform: scale(1.1);
        }
      }
    }
  }
}
// Navbar
.navbar {
  @include sm {
    padding-left: 35px !important;
  }
  padding-top: 20px;
  .navbar-brand {
    img {
      width: 220px;
      transition: all 500ms ease;
      &:hover {
        transform: scale(1.1);
      }
      @include sm {
        width: 180px;
      }
    }
  }
  .navbar-nav {
    .nav-item {
      padding-left: 10px;
      position: relative;
      padding-right: 10px;
    }
  }
  .nav-link {
    color: #fff;
    font-size: 0.9rem;
    transition: all 200ms ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  .nav-link.active {
    &::before {
      width: 100%;
      margin-left: 18px;
      background-color: #28a9e0;
      content: "";
      position: absolute;
      margin-left: 0px;
      bottom: 0;
      left: 0;
      height: 2px;
      transition: all 500ms ease;
    }
  }
}
